script var str = !{JSON.stringify(camera.autostart)}; 

extends layout

block content
  h1= title
  ul.list-unstyled.d-flex.flex-row
    each camera in cameras
      li.card.col-3
          img.card-img-top(src=camera.snapshotUrl, alt='Camera Image', height='200')
          .card-body
            h5.card-title= camera.name
            form(action='#{camera.hostname}/delete', method='post')
              .form-group.row
                p.col-sm.card-text= camera.hostname + ':' + camera.port
                button.col-sm-4.btn.btn-primary(type='submit') Delete
            p.card-text= camera.username + ' / ' + camera.password
            form(action='#{camera.hostname}/auto', method='post')
              .form-group.row
                p.col-sm.card-text= 'Autostart: ' + camera.autostart
                button.col-sm-4.btn.btn-primary(type='submit') Toggle
            form(action='#{camera.hostname}/stream_id', method='post')
              .form-group.row
                input.col-sm.form-control(type='text', id='stream_id', name='stream_id', placeholder='stream_id', value='#{camera.stream_id || ""}')
                button.col-sm-4.btn.btn-primary(type='submit') set
            p.card-text= JSON.stringify(camera.stats)

  form.form-horizontal(action='/', method='post')
    .form-group.row
      label.control-label.col-sm-2(for='hostname') Hostname
      .col-sm-4
        input.form-control(type='text', id='hostname', name='hostname', placeholder='Enter hostname')
    .form-group.row
      label.control-label.col-sm-2(for='port') Port
      .col-sm-4
        input.form-control(type='number', id='port', name='port', placeholder='Enter port')
    .form-group.row
      label.control-label.col-sm-2(for='user') User
      .col-sm-4
        input.form-control(type='text', id='user', name='user', placeholder='Enter username')
    .form-group.row
      label.control-label.col-sm-2(for='password') Password
      .col-sm-4
        input.form-control(type='password', id='password', name='password', placeholder='Enter password')
    button.btn.btn-primary(type='submit') Submit